body,
html {
  /* Prevent scrolling */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

.slider-container {
  height: 300px;
  /* Adjust to fit your design */
  overflow: hidden;
  /* Prevent internal overflow */
}

.slick-next {
  display: none !important;
}
