.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .main {
	height: fit-content;
	padding: 20px;
  }
  .loginImg {
	width: 98%;
	padding: 0.3rem;
	padding-bottom: 0.1rem;
  }
  .register {
	font-weight: bold !important;
	color: rgba(21, 44, 91, 1) !important;
	text-decoration: none !important;
  }
  .loginBtn {
	text-transform: capitalize !important;
	font-size: 20px !important;
	letter-spacing: 2px !important;
	font-weight: 700 !important; 
	background-color: rgba(50, 82, 223, 1) !important;
  }

   .imageContainer {
    padding: 1rem;
    height: 100%;
	 
	}
  .imageContainer {
	height: 100%;
	padding: 1rem;
	position: relative;
  }
  .image {
	border-radius: 10px;
	width: 100%;
	height: calc(100vh - 55px);
	object-fit: cover;
	object-position: center;
  }
  .imageText {
	position: absolute;
	bottom: 2rem;
	left: 3rem;
	color: #fff;
  }

  .formContainer {
	display: flex;
	justify-content: center;
	align-items: start;
	padding: 0px 30px;
  }
  @media (max-width: 960px) {
	.imageContainer {
	  display: none; /* or adjust the styling as needed */
	}

	.formContainer {
	  width: 100%; /* or adjust the styling as needed */
	}
  }
  .title{
	margin: 0px -50px;
  }
  .reset{
	color: red;
	font-size: 24px;
	font-weight: 700;
  }
  .errorMsg{
	color: red;
  }